body {
	font-family:Arial, sans-serif;
}

/* I wish we could trust CSS vars to work */
p#table-guide {
	color:#696969;
	font-size:0.9em;
}
span.openness { display:inline-block;
padding:1px 5px; color:#ffffff }
span.open { background-color:#3e9b74; }
span.partial { background-color:#dd9f1c; }
span.closed { background-color:#ca6014; }


p.highlight { 
	display:block;
	padding:15px 20px;
	background-color:#f7f7f7; !important
}
p#tagline a { padding-left:4px; }

#header, #content {
	max-width:1200px;
	margin: auto;
	padding:0 1em 0 1em;
}
#footer > * {
	max-width:1200px;
	margin: auto;
	padding:0 1em 0 1em;
	color:#696969;
}

#footer a:link, #footer a:visited {
	color:#696969;
}

#footer {
	margin-top:2em;
	padding:3em 1em 3em 1em;
	background-color:#f7f7f7;
	font-size:0.8em;
}


div#included-table {
	margin:0 10px 0 0;
}


/* graphical elements */
img#title-logo { 
	display:inline-block;
	padding-right:8px;
	margin-bottom:-3px;
}
h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
	color:#000000;
	text-decoration:none;
}



/* typography */

blockquote { 
	border-left:4px solid #f7f7f7;
	padding-left:1em;
	margin-left:1em;
}

/* responsive font sizes */


p { 
	line-height:1.4em;
}

.colour-open { color:#3e9b74; }
.colour-partial { color:#dd9f1c; }
.colour-closed { color:#ca6014; }

/* make table vertically scrollable on smaller screens */
@media (max-width:1200px) {
	div#included-table {
		display:block;
		overflow-x:auto;
		white-space:nowrap;
	}
}

/* main table features */
table {
	display:table;
	table-layout:fixed;
	font-size:1em;
}

/* default column width*/
thead tr.main-header th {
	width:100px;
}

thead tr.second-header th {
	font-weight:normal;
	font-size:0.8em;
	width:65px;
	min-width:65px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}


/* custom width for some columns */
table tr th.first-column {
	display:block;
	overflow: hidden;
	text-overflow: ellipsis;
}
table tr td.llmbase, table tr td.rlbase {
	max-width:240px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;

}

/* ensure that rows are the same height */
tbody td.name-cell, tbody td.org {
	display:block;
	width:160px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
table tr td > * {
	vertical-align:middle;
}

tbody tr td {
	padding:0;
}
tbody tr.row-a td {
	border-top:4px solid #ffffff;
}
tbody tr.row-b td {
	border-bottom:4px solid #ffffff;
}

tr.row-b td {
	padding-bottom:1px;
}
tr.row-a td {
	padding-top:1px;
}
th {
  border-bottom: 1px solid black;
  border-collapse: collapse;
  text-align:left
}

/* data cells */
table .data-cell {
	text-align:center;
}
table td.data-cell { background-color:#f7f7f7;}
table td.data-cell.closed { background-color:#ca6014;}
table td.data-cell.open {	background-color:#3e9b74;}
table td.data-cell.partial { background-color:#dd9f1c;-}

td.data-cell a {
	display:block;
	padding:2px 0 4px 0;
}
/* special treatment for our "~" */
td.data-cell.partial a { padding:3px 0 3px 0; }

/* links */
td a:link, td a:visited, td a:active {
	text-decoration:none;
	color:#000;
}
td.data-cell a:link, td.data-cell a:visited, td.data-cell a:active {
	color:#fff;
}
td.data-cell a:hover {
	font-weight:bold;
}
/* I wish we could trust CSS vars to work */
td.data-cell.open:hover { border-top-color:#3e9b74; }
td.data-cell.partial:hover { border-top-color:#dd9f1c; }
td.data-cell.closed:hover { border-top-color:#ca6014; }



/* secondary rows should be less prominent */
tr.row-b {
	color:#cccccc;
	font-size:0.8em;
}
tr.row-b a:link, tr.row-b a:visited, tr.row-b a:active {
	color:#cccccc;
}
tr.row-b .source-link { text-align:right }
tr.row-b .source-link:active, tr.row-b .source-link:hover { font-weight:bold; }
